/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,
body {
  height: 100%;
}
#header {
  margin-top: 40px;
  height: 60px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -110px;
}

#push,
#footer {
  height: 110px;
}

.container .credit {
  list-style: none;
  margin: 20px 0;
  margin-left: -40px;
}

.unstyled {
  list-style: none;
  margin-left: -40px;
}

.center {
  text-align: center;
}
